<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Widget/Widget" />

<f:section name="main">
    <table class="table table-striped table-hover"><tbody>
    <tr>
        <td class="{f:if(condition: bufferPoolTooSmall, then: 'warning', else: 'success')} col-xs-9">InnoDb Buffer too small:</td>
        <td class="{f:if(condition: bufferPoolTooSmall, then: 'warning', else: 'success')} col-xs-3">{f:if(condition: bufferPoolTooSmall, then: 'yes', else: 'no')}<br></td>
    </tr>

    <tr>
        <td class="{f:if(condition: '{readHitRatio} < 99.9', then: 'warning', else: 'success')} col-xs-9">InnoDb Read Hit Ratio:</td>
        <td class="{f:if(condition: '{readHitRatio} < 99.9', then: 'warning', else: 'success')} col-xs-3">{readHitRatio}%<br></td>
    </tr>

    <tr>
        <td class="{f:if(condition: '{handlerReadRatio} > 95', then: 'warning', else: 'success')} col-xs-9">Percentage of full table scans:</td>
        <td class="{f:if(condition: '{handlerReadRatio} > 95', then: 'warning', else: 'success')} col-xs-3">{handlerReadRatio}%<br></td>
    </tr>
    </tbody></table>
</f:section>
</html>
